{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 5,
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-console": "off",
  },
  "overrides": [
    {
      "files": "**/__tests__/**/*",
      "env": {
        "jest": true,
        "jasmine": true,
        "es6": true,
      },
      "rules": {
        "no-unused-vars": "off",
      },
      "parserOptions": {
        "ecmaVersion": 2019,
        "ecmaFeatures": {
          "jsx": true,
        },
      },
    },
  ],
}
